/* .popup {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'rgba(0,0,0,0.5)';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    z-index: 9999;
}

.popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    max-height: 80vh;
    overflow: auto;
} */

.popup {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 9999 !important;
}

.popup-content {
    background-color: white !important;
    padding: 30px !important;
    border-radius: 10px !important;
    max-width: 400px !important;
    width: 30% !important;
    max-height: 80vh !important;
    overflow: auto !important;
}

.tickets-placeholder {
    display: flex;
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}